<a href="https://colab.research.google.com/github/Radiowar1792/python-learn/blob/main/CoursBTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
a = int(input("choisi un nombre entre 2 et 1000 : "))
if a>=500:
  print("votre nombre est supérieur à 500")
elif a<=500:
  print("votre nombre est inférieur à 500")
elif a<2:
  print("votre nombre n'est pas compris entre 2 et 1000")
else:
  print("votre nombre n'est pas compris entre 2 et 1000")

choisi un nombre entre 2 et 1000 : 878
votre nombre est supérieur à 500

In [10]:
titre = "Tour du monde en 80 jours"
auteur = "Jules Vernes"
année = 1867
print(f"L'ouvrage {titre} de l'auteur {auteur} est parut en {année}.")

L'ouvrage Tour du monde en 80 jours de l'auteur Jules Vernes est parut en 1867.

In [14]:
a = 4
b = 7
c = 3.7
print(a*b)
print(a/b)
print(a%b)
print(a*c)
print(a%c)
print(a/c)
type(c)

28
0.5714285714285714
4
14.8
0.2999999999999998
1.081081081081081

float

In [24]:
livre = ["livre1","libre2","livre3"]
print(livre[0])
livre.append("livre4")
print(livre)
livre.remove("livre4")
len(livre)
livre.append("laivre4")
livre.append("elaivre4")
livre.append("celaivre4")
livre.append("celasivre4")
print(livre)
livre.sort()
print(livre)

livre1
['livre1', 'libre2', 'livre3', 'livre4']
['livre1', 'libre2', 'livre3', 'laivre4', 'elaivre4', 'celaivre4', 'celasivre4']
['celaivre4', 'celasivre4', 'elaivre4', 'laivre4', 'libre2', 'livre1', 'livre3']

In [38]:
fruits = ["Orange","Banane","Pomme"]
print(fruits)
fruits.append("kiwi")
print(fruits)
fruits.remove("Orange")
print(fruits)
fruits[1]= "Ananas"
print(fruits)
print(len(fruits))
fruits.sort()
print(fruits)

['Orange', 'Banane', 'Pomme']
['Orange', 'Banane', 'Pomme', 'kiwi']
['Banane', 'Pomme', 'kiwi']
['Banane', 'Ananas', 'kiwi']
3
['Ananas', 'Banane', 'kiwi']

In [37]:
import random
a = random.randint(1,1000)
print(a)

827

In [43]:
numero_candidat = {
    "Bat":1,
    "Mathias":2,
    "Bryan":3,
    "Belisa":4
}
print(numero_candidat)
print(numero_candidat["Bat"])
print(numero_candidat["Belisa"])
numero_candidat["Bat"]= 8
print(numero_candidat["Bat"])
numero_candidat["Nouveau"] = 19
print(numero_candidat)

{'Bat': 1, 'Mathias': 2, 'Bryan': 3, 'Belisa': 4}
1
4
8
{'Bat': 8, 'Mathias': 2, 'Bryan': 3, 'Belisa': 4, 'Nouveau': 19}

In [45]:
fruits={
    "pomme":"rouge",
    "banane":"jaune",
    "orange":"orange"
}
print(fruits)
fruits["kiwi"]="vert"
print(fruits)
fruits["pomme"]="vert"
print(fruits)
fruits.pop("banane")
print(fruits)

{'pomme': 'rouge', 'banane': 'jaune', 'orange': 'orange'}
{'pomme': 'rouge', 'banane': 'jaune', 'orange': 'orange', 'kiwi': 'vert'}
{'pomme': 'vert', 'banane': 'jaune', 'orange': 'orange', 'kiwi': 'vert'}
{'pomme': 'vert', 'orange': 'orange', 'kiwi': 'vert'}

In [48]:
nombre1 = input("choissisez un premier nombre :  ")
nombre2 = input("choissisez un deuxième nombre :  ")
nombre1.isnumeric()
nombre2.isnumeric()

choissisez un premier nombre :  2
choissisez un deuxième nombre :  3

True

In [50]:
for i in range(6):
  print(f'Salut ! pour la {i} ème fois !')
for i in range(1,6):
  print(f'Salut ! pour la {i} ème fois !')

Salut ! pour la 0 ème fois !
Salut ! pour la 1 ème fois !
Salut ! pour la 2 ème fois !
Salut ! pour la 3 ème fois !
Salut ! pour la 4 ème fois !
Salut ! pour la 5 ème fois !
Salut ! pour la 1 ème fois !
Salut ! pour la 2 ème fois !
Salut ! pour la 3 ème fois !
Salut ! pour la 4 ème fois !
Salut ! pour la 5 ème fois !

In [53]:
a = 1
while a<8:
  a +=1
  print(f"Plus 1 ! a est égale à : {a}")

Plus 1 ! a est égale à : 2
Plus 1 ! a est égale à : 3
Plus 1 ! a est égale à : 4
Plus 1 ! a est égale à : 5
Plus 1 ! a est égale à : 6
Plus 1 ! a est égale à : 7
Plus 1 ! a est égale à : 8

In [56]:
for i in range(1,10):
  if i > 6:
    break
  print(f"c'est la {i} ème itération !")

c'est la 1 ème itération !
c'est la 2 ème itération !
c'est la 3 ème itération !
c'est la 4 ème itération !
c'est la 5 ème itération !
c'est la 6 ème itération !

In [63]:
saisie = input("Veuillez entrer une liste de nombres séparés par des virgules : ")
nombres_str = saisie.split(',')
nombres = [int(nombre.strip()) for nombre in nombres_str]
nombres
# Calcul de la somme avec for et range
somme = 0
for i in range(len(nombres)):
    somme = somme + nombres[i]

print("Somme des nombres :", somme)

somme = sum(nombres)
print("Somme des nombres :", somme)

moyenne = somme / len(nombres)
print("Moyenne des nombres :", moyenne)
a=0
for i in range(len(nombres)):
  if nombres[i]>moyenne:
    a += 1
print(f"Nombres de nombre supérieurs à la moyenne : {a}")

Veuillez entrer une liste de nombres séparés par des virgules : 2,5,6,6,5,9,9,9
Somme des nombres : 51
Somme des nombres : 51
Moyenne des nombres : 6.375
Nombres de nombre supérieurs à la moyenne : 3